
.Container{
    overflow-x: hidden;
}
.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 3px 10px; 
    height: 55px;
}
.logo img{
    margin-top: 2px;
    margin-left: 15px;
    height: 45px;
    width: 100px;
    border-radius: 5px;
}
.nav-ele{
    display: flex;
    text-decoration: none;
    /* color: #fff; */
    font-weight: bolder;
}
.nav-ele a {
    margin-right: 20px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.nav-ele a:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}
.search-bar {
    display: flex;
    position: relative;
    margin-top: 11px; 
    margin-bottom: 10px;
}

.search-bar select,
.search-bar .input_home[type="text"],
.search-bar button {
    margin: 0; 
}

.search-bar select{
    border: none;
    padding: 8px auto;
    height: 42px;
    background-color: #f2f4f9;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}

.search-bar .input_home[type="text"] {
    padding: 8px;
    border: 1px solid black;
    border-style: none;
    margin-left: 0px;
    width: 550px;
    height:42px;
    border-radius: 0px;
}

.search-bar select:focus {
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px 3px #fb923c;
}

.search-bar .input_home[type="text"]:focus {
    outline: none;
    z-index: 1;
    box-shadow: 0px 0px 3px 3px #fb923c;
}
.search-bar .button_home {
    padding: 8px 15px;
    height: 42px;
    background-color:#fb923c;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-bar .button_home:hover{
    background-color: #f97316;
} 

.login button{
    border-radius: 50%;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: transform 0.2s ease;
}
.search-bar button .MuiSvgIcon-root {
    color: black; 
}
.search-bar button:hover .MuiSvgIcon-root {
    color: white; 
}

.login button:hover .MuiSvgIcon-root {
    color: white;
    transform: scale(1.1);
}
